

.botao {
    color: #95FFD4;
    background-color: #e272aa;
    border-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 40px;
    
    
    }
    